<div fxLayout="column">
  <section class="header" fxLayout="row" fxLayoutAlign="center center">
    <img class="logo" alt="logo" src="/assets/images/SWORD_Health_logo.svg">
    <div fxFlex></div>
    <div fxLayout="column">
      <div class="title">Frontend developer</div>
      <div fxFlexAlign="end" class="subtitle">Challenge</div>
    </div>
  </section>
  <section class="presentation" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="32px">
    <img class="avatar" src="assets/images/avatar.jpg" alt="Avatar">
    <div fxLayout="column" fxLayoutAlign.lt-md="center center" fxLayoutGap="14px">
      <div class="name">Bruno Silva</div>
      <div>Age: 28</div>
      <div>Location: Porto</div>
      <div>Occupation: Software Developer</div>
    </div>
    <div fxFlex></div>
    <div fxLayout="column" fxShow="true" fxHide.lt-md>
      <div fxFlexAlign="end">About Me:</div>
      <div fxFlexAlign="end" class="description">
        <p>My name is Bruno Silva, and i'm currently working in software
        development for 2 years.<br>
        Mainly using technologies like Angular and Node.js. Feel free to check my github too see some of my recent projects <a href="https://github.com/brunosilv">@https://github.com/brunosilv</a></p>
      </div>
    </div>
  </section>
  <section class="game" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="14px">
    <div class="title">Tic tac toe games</div>
    <div>Welcome to the best game in the world.</div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
      <div fxLayout="column" fxLayoutAlign="center center" fxShow="true" fxHide.lt-md>
        <div class="title">Player 1</div>
        <div class="scores">{{player1Wins}}</div>
      </div>
      <app-board [isGameOver]="isGameOver" (endGameStatsEvent)="processLastGameStats($event)" class="board"></app-board>
      <div fxLayout="column" fxLayoutAlign="center center" fxShow="true" fxHide.lt-md>
        <div class="title">Player 2</div>
        <div class="scores">{{player2Wins}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="75px" fxLayoutAlign="center center">
      <div class="players" fxHide="true" fxShow.lt-md fxFlexAlign="start">Player 1</div>
      <div class="timer">{{gameTime | date:'HH:mm:ss'}}</div>
      <div class="players" fxHide="true" fxShow.lt-md fxFlexAlign="end">Player 2</div>
    </div>
    <div class="scores" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="300px" fxHide="true" fxShow.lt-md>
      <div>{{player1Wins}}</div>
      <div>{{player2Wins}}</div>
    </div>
    <div>
      <button  class="primary" *ngIf="isGameOver"
               (click)="restartGame()">New Game
      </button>
    </div>
  </section>
  <section class="stats" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="14px">
    <div class="title">Awesome statistics</div>
    <div>All statistics in on place!</div>
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxLayout="column" fxLayoutGap="14px" fxLayoutAlign="center center">
        <div class="title">Game victories %</div>
        <div fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div>Player 1</div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div class="win-lose">{{winPercentageX}}%</div>
                <div>V</div>
              </div>
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div class="win-lose">{{winPercentageO}}%</div>
                <div>L</div>
              </div>
            </div>
          </div>
          <div fxFlex="50px"></div>
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div>Player 2</div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div class="win-lose">{{winPercentageO}}%</div>
                <div>V</div>
              </div>
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <div class="win-lose">{{winPercentageX}}%</div>
                <div>L</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex.gt-md="50px"></div>
      <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div class="title">Played matches</div>
        <div fxLayout="row" fxLayoutGap="8px">
          <ng-container *ngFor="let dummy of ' '.repeat(9).split(''), let x = index">
            <div [ngClass]="(x < gamesPlayed)?'circle grey':'circle'"></div>
          </ng-container>
        </div>
        <div class="title">Game History</div>
        <div fxLayout="row" fxLayoutGap="8px">
          <ng-container *ngFor="let winner of gameHistory">
            <div class="square">{{winner}}</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="title">Total time</div>
    <div>{{globalTime | date:'HH:mm:ss'}}</div>
  </section>
  <section class="footer" fxLayout="row" fxLayout.lt-md="column" fxFlexAlign.lt-md="center center">
    <div fxLayout="column" fxFlex="33.33" fxLayoutAlign.lt-md="center center" fxLayoutGap="14px">
      <div class="title">About page</div>
      <div>Play tic tac toe or 4-in-a-row anytime!</div>
      <div>Created by Bruno Silva</div>
    </div>
    <div fxLayout="column" fxFlex="33.33" fxLayoutAlign.lt-md="center center" fxLayoutGap="14px">
      <div class="title">Contacts</div>
      <div>(+351) 123 456 789</div>
      <div>Rua Sá da Bandeira, 111, Porto</div>
    </div>
    <div fxLayout="column" fxFlex="33.33" fxLayoutAlign.lt-md="center center" fxLayoutGap="14px">
      <div class="title">Stay in Touch</div>
      <div fxLayout="row" fxLayoutGap="10px">
        <a href="https://www.facebook.com/SWORDHealth1/"><img class="logo" alt="facebook" src="/assets/images/facebook.svg"></a>
        <a href="https://twitter.com/swordhealth"><img class="logo" alt="twitter" src="/assets/images/twitter.svg"></a>
        <a href="#"><img class="logo" alt="instagram" src="/assets/images/instagram.svg"></a>
      </div>
      <div fxLayout="row">
        <form>
          <label>
            <input type="text" placeholder="Subscribe our games">
          </label>
        </form>
      </div>
    </div>
  </section>
</div>
