.header {
  margin: -8px;
  background-color: #D8D8D8;
  height: 100px;
  padding: 10px 10%;
}

.header .title {
  font-family: 'glacialfontbold', sans-serif;
}

.header .subtitle {
  font-family: 'glacialfontitalic', sans-serif;
}

.header .logo {
  height: 40px;
}

.presentation {
  padding: 50px 10%;
}

.presentation .name {
  font-size: 24px;
}

.presentation .avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.presentation .description {
  max-width: 60%;
  text-align: justify;
}

.game {
  background-color: #F6F8F9;
  margin: -8px;
  padding: 50px 10%;

}

.game .title {
  font-size: 24px;
  font-family: 'glacialfontbold', sans-serif;
}

.game .players {
  font-size: 24px;
  font-family: 'glacialfontbold', sans-serif;
}

.game .timer {
  font-size: 24px;
}

.game .scores {
  font-size: 44px;
}

.game .board {
  margin: 0 auto;
  max-width: 300px;
  color: #34495e;
}

.game .primary {
  margin-top: 14px;
  background-color: #37A8EE;
  border: none;
  color: white;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.stats {
  padding: 50px 10%;
}

.stats .circle {
  background-color: #fff;
  border: 1px solid grey;
  height: 18px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 18px;
}

.stats .square {
  height: 24px;
  width: 24px;
  border: 1px solid grey;
  text-align: center;
  line-height: 24px;
}

.stats .win-lose {
  background-color: grey;
  border: 1px solid grey;
  height: 38px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 38px;
  color: white;
  text-align: center;
  line-height: 38px;
  font-weight: 600;
}

.stats .grey {
  background-color: grey;
}

.stats .title {
  font-size: 24px;
  font-family: 'glacialfontbold', sans-serif;
}

.footer {
  padding: 50px 10%;
  background-color: #F6F8F9;
  margin: -8px;
}

.footer .logo {
  width: 30px;
  height: 30px;
}

.footer .title {
  font-size: 20px;
  font-weight: 600;
}
