<div>
  <div class="status" fxLayoutAlign="center center">
    {{statusMessage}}
  </div>
  <div class="board" *ngFor="let row of [0,1,2]">
    <app-cell *ngFor="let col of [0,1,2]"
              [row]="row"
              [col]="col"
              [piece]="board[row][col]"
              (click)="move(row, col)">
    </app-cell>
  </div>
</div>
