.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #fff;
}

.status {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'glacialfont', sans-serif;
  margin-bottom: 14px;
}

.game-start {
  width: 100%;
}
