/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'glacialfont';
  src: url('/assets/fonts/glacialindifference-regular-webfont.ttf');
}
@font-face {
  font-family: 'glacialfontbold';
  src: url('/assets/fonts/glacialindifference-bold-webfont.ttf');
}
@font-face {
  font-family: 'glacialfontitalic';
  src: url('/assets/fonts/glacialindifference-italic-webfont.woff');
}
body {
  font-family: 'glacialfont', sans-serif;
}
